@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body,
:root {
  height: 100%;
}

ul {
  text-decoration: none;
  list-style: none;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}


@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

.line {
  @apply flex flex-col gap-2
}

/* scrollbar */

::-webkit-scrollbar{
  @apply w-[8px] bg-black/20
}
::-webkit-scrollbar-thumb {
  @apply bg-cyan-500 dark:bg-sky-900 rounded-sm
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.react-select__menu{
  @apply text-red-500 min-h-32 h-40
}
.react-select__menu-list{
  @apply text-red-500 min-h-32 h-40
}

/* loading bar */

.loading-bar {
  position: 'fixed';
    top: 48px;
    left: 0;
    width: '100%';
    height: '4px';
    transition: 'width 0.2s ease-in-out';
}

/* messages-aside-bar */

.messages-aside-bar {
  scrollbar-width: thin;
  scrollbar-color: var(--fallback-n,oklch(var(--n)/var(--tw-text-opacity)));
}


/* background */
.bg-grid-sm {
  @apply  dark:bg-dot-white/[0.2] bg-dot-black/[0.2]
}
.bg-grid-md{
  @apply dark:bg-grid-small-white/[0.2] bg-grid-small-black/[0.2]
}

.bg-grid-lg {
  @apply  dark:bg-grid-white/[0.2] bg-grid-black/[0.2]
}
